doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      img(src="images/covers/logo.jfif", alt="Cover").logo
      h1 Bibliothèque universitaire
    block content
